.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: 20px;
}

.gridItem {
    margin: 0px;
}

.previewArticle  {
background: #fff;
box-shadow: 0 4px 8px 0 rgba( 0, 0, 0, 0.2 );
overflow: hidden;
}

.previewArticle a {
    text-decoration: none;
}

.previewArticle .previewImage {
    transition: opacity .15s linear;
    width: 100%;
}

    .previewArticle .previewImage:focus {
        opacity: .75;
    }

    .previewArticle .previewImage img {
        width: 100%;
    }

.previewArticle .previewHeader {
    padding: 6px;
    color: #232D37;
}

    .previewArticle .previewHeader h2 {
        font-size: 1.2rem;
    }

    .previewArticle .previewHeader h3 {
        font-size: 0.8rem;
        font-weight: normal;
    }

.previewArticle .previewDate {
    margin-top: 4px;
    font-size: 0.8rem;
}