* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #000000;
    margin: 0px;
    font-size: 100%;
}

.trytopnav {
    height: 40px;
    overflow: hidden;
    min-width: 380px;
    position: absolute;
    width: 100%;
    background-color: #f1f1f1;
}

.trytopnav a {
    color: #999999;
}

.w3-bar .w3-bar-item:hover {
    color: #757575 !important;
}

.w3-metro-yellow,
.w3-hover-green:hover {
    color: rgb(0, 0, 0) !important;
}

a.w3schoolslink {
    padding: 0 !important;
    display: inline !important;
}

a.w3schoolslink:hover,
a.w3schoolslink:active {
    text-decoration: underline !important;
    background-color: transparent !important;
}